:root {
    /*--light: #eff2f5;*/
    /*--code-bg: #01252c;*/
    /*--dark: #01252c;*/
    /*--almost-dark: #3f3f3f;*/
    /*--light-dark: #666;*/
    /*--accent: #80ee91;*/
    /*--accent-hover: #60b36d;*/
    /*--white: #fff;*/
    /*--medium: #1c2023;*/
    /*--medium-two: #3e4145;*/
    /*--light-hover: rgba(224, 230, 235, 0.4);*/

    --light: #01252c;
    --code-bg: #01252c;
    --dark: #bbb;
    --almost-dark: rgba(224, 230, 235, 0.4);
    --light-dark: #eff2f5;
    --accent: #80ee91;
    --accent-hover: #60b36d;
    --white: #1c2023;
    --medium: #fff;
    --medium-two: #3f3f3f;
    --light-hover: #3e4145;
}
